<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResourcesWidget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <ResourcesWidget.Properties.Settings>
            <setting name="DColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="UColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="LableVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IpColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="IPVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatusVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReceivedVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DSpeedVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SentVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USpeedVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Decimals" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SentColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ReceivedColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="StatusColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="WindowColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="InterfaceVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RamVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RamColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="CpuColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TaskbarIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskbarTitle" serializeAs="String">
                <value>CPU Usage</value>
            </setting>
            <setting name="LableColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
        </ResourcesWidget.Properties.Settings>
    </userSettings>
</configuration>
